{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <h2>Hold my beer while I figure this out...</h2>
    <p>{{ error }}</p>
    <a href="/" class="btn btn-warning"></a>
  </div>
{% endblock %}