{% layout 'layout.liquid' %}
{% block content %}
  <h1 class="display-4">DRUMPI - A Drum API</h1>
  <p>The only drum api you will ever need.  Ever.</p>
  <div class="btn-group btn-group-lg">
    <a href="/users/signup" class="btn btn-success">Sign Up</a>
    <a href="/users/login" class="btn btn-success">Log In</a>
  </div>
{% endblock %}